<h3 mat-subheader>Task manager</h3>
<div class="button-block">
  <button mat-raised-button color="primary" appOpenDialog [name]="'Create'" (closeDialog)="loadTask()">Create task</button>
</div>

<ng-container [ngSwitch]="state">
  <ng-container *ngSwitchCase="'empty'" [ngTemplateOutlet]="emptyTemplate"></ng-container>
  <ng-container *ngSwitchCase="'tasks'" [ngTemplateOutlet]="tasksTemplate"></ng-container>
  <ng-container *ngSwitchCase="'load'" [ngTemplateOutlet]="loadTemplate"></ng-container>
</ng-container>

<ng-template #loadTemplate>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #emptyTemplate>
  <mat-card>Empty task list</mat-card>
</ng-template>

<ng-template #tasksTemplate>

  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-accordion>
      <ng-container *ngFor="let task of tasks">
        <app-task-item [task]="task" (action)="loadTask()"></app-task-item>
      </ng-container>
    </mat-accordion>
  </div>
</ng-template>
