.mat-subheader {
  text-align: center;
}

mat-card,
mat-spinner,
.button-block {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.button-block {
  justify-content: flex-end;
  display: flex;
  margin-bottom: 15px;
}

.cdk-drag-placeholder {
  background: #ccc;
  border: dotted 1px #999;
  transition: transform 500ms ease;
}
